@charset "ISO-8859-1";

body {
	background-color: silver;
}
#image
{
	width: 1300;
	height:950
	background-color: fuchsia;
	
}

#span1
{
	height: 100;
	align-content: center;	
}

img
{
	border-color: red;
	border-style: ridge;
	border: medium;
}

h1
{
	color: red;
	background-color: yellow;
}

form
{
	background-color: aqua;
	color: navy;
}
